@page "/workout/{title}/{Id:int}"
@using Newtonsoft.Json
@inject HttpClient Http

<PageTitle>Workout</PageTitle>

@if (_Workout == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>@_Workout.Title</h1>

    <div class="row">
        <div class="col">
            <img src="imgs/gym-g6fe38f57d_1920.jpg" class="img-fluid" alt="...">
        </div>
        <div class="col">
            <h2><b>Workout:</b> @_Workout.Heading</h2>
            <h3><b>Description:</b> @_Workout.Description</h3>
            <div class="row">
                <div class="col">
                    <p><b>Main Goal:</b> @_Workout.MainGoal</p>
                    <p><b>Training Level:</b> @_Workout.TrainingLevel</p>
                    <p><b>Program Duration:</b> @_Workout.ProgramDuration</p>
                    <p><b>Days Per Week:</b> @_Workout.DaysPerWeek</p>
                </div>
                <div class="col">
                    <p><b>Time Per Workout:</b> @_Workout.TimePerWorkout</p>
                    <p><b>Equipment:</b> @_Workout.Equipment</p>
                    <p><b>Author:</b> @_Workout.Author</p>
                    <p><b>Source:</b> <a href="@_Workout.Link" target="_blank">Workout Link</a></p>
                </div>
            </div>
            <RadzenDataGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="10" AllowSorting="true" Data="@_Exercises" TItem="eoifitnesswasm.Shared.Exercise" ColumnWidth="200px" SelectionMode="DataGridSelectionMode.Single" @bind-Value=@_Exercise>
                <Columns>
                    <RadzenDataGridColumn TItem="eoifitnesswasm.Shared.Exercise" Property="Name" Title="Exercise" />
                    <RadzenDataGridColumn TItem="eoifitnesswasm.Shared.Exercise" Property="Sets" Title="Sets" />
                    <RadzenDataGridColumn TItem="eoifitnesswasm.Shared.Exercise" Property="Reps" Title="Reps" />
                    <RadzenDataGridColumn TItem="eoifitnesswasm.Shared.Exercise" Property="Rest" Title="Rest" />
                    <RadzenDataGridColumn TItem="eoifitnesswasm.Shared.Exercise" Property="Duration" Title="Duration" />
                </Columns>
            </RadzenDataGrid>
        </div>
    </div>
}

@code {
    [Parameter]
    public string? Title { get; set; }
    [Parameter]
    public int Id { get; set; }

    private eoifitnesswasm.Shared.Workout? _Workout { get; set; }
    private IEnumerable<eoifitnesswasm.Shared.Exercise>? _Exercises { get; set; }
    private IList<eoifitnesswasm.Shared.Exercise>? _Exercise { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var json = await Http.GetStringAsync($"data/{Title}.json");
        _Workout = JsonConvert.DeserializeObject<eoifitnesswasm.Shared.WorkoutsDB>(json).Workouts.Where(w => w.Id == Id).FirstOrDefault();
        _Exercises = _Workout.Exercises;


    }

    private void ClearSelection()
    {
        _Exercise = null;
    }
}
